@page "/personal/dashboard"

<MudGrid>
    <MudItem xs="2" sm="2" md="2">
        <MudPaper Class="py-4 px-6 mx-4 rounded-t-xl" Style="border-right:4px solid #7922d6">
            <div class=row>
                <div class="col-6">
                    <MudText Typo="Typo.body1">کل کاربران</MudText>
                    <MudText Align="Align.Center" Typo="Typo.h5">2541</MudText>
                </div>
                <div class="col-1" style="border-left:1px solid black"></div>
                <div class="col-4">
                    <MudIcon Icon="fa fa-users" Size="Size.Large" Style="text-align:center" Color="Color.Secondary"></MudIcon>
                </div>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="2" sm="2" md="2">
        <MudPaper Class="py-4 px-6 mx-4 rounded-t-xl" Style="border-right:4px solid #0045f5">
            <div class=row>
                <div class="col-6">
                    <MudText Typo="Typo.body1">کاربران فعال</MudText>
                    <MudText Align="Align.Center" Typo="Typo.h5">1973</MudText>
                </div>
                <div class="col-1" style="border-left:1px solid black"></div>
                <div class="col-4">
                    <MudIcon Icon="fa fa-vcard" Size="Size.Large" Style="text-align:center" Color="Color.Primary"></MudIcon>
                </div>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="2" sm="2" md="2">
        <MudPaper Class="py-4 px-6 mx-4 rounded-t-xl" Style="border-right:4px solid #1bf726">
            <div class=row>
                <div class="col-6">
                    <MudText Typo="Typo.body1" Align="Align.Center">کاربران آنلاین</MudText>
                    <MudText Align="Align.Center" Typo="Typo.h5">632</MudText>
                </div>
                <div class="col-1" style="border-left:1px solid black"></div>
                <div class="col-4">
                    <MudIcon Icon="fas fa-wifi" Size="Size.Large" Style="text-align:center" Color="Color.Success"></MudIcon>
                </div>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="2" sm="2" md="2">
        <MudPaper Class="py-4 px-6 mx-4 rounded-t-xl" Style="border-right:4px solid orange">
            <div class=row>
                <div class="col-6">
                    <MudText Typo="Typo.body1" Align="Align.Center">آماده فعالسازی</MudText>
                    <MudText Align="Align.Center" Typo="Typo.h5">632</MudText>
                </div>
                <div class="col-1" style="border-left:1px solid black"></div>
                <div class="col-4">
                    <MudIcon Icon="fas fa-user-times" Size="Size.Large" Style="text-align:center" Color="Color.Warning"></MudIcon>
                </div>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="3" sm="3" md="3">
        <MudPaper Class="py-4 px-6 mx-4 rounded-t-xl" Style="border-right:4px solid red">
            <div class=row>
                <div class="col-6">
                    <MudText Typo="Typo.body1" Align="Align.Center">افراد دعوت شده</MudText>
                    <MudText Align="Align.Center" Typo="Typo.h5">632</MudText>
                </div>
                <div class="col-1" style="border-left:1px solid black"></div>
                <div class="col-4">
                    <MudIcon Icon="fas fa-envelope-open-text" Size="Size.Large" Style="text-align:center" Color="Color.Error"></MudIcon>
                </div>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="12" sm="12" md="12" Class="mt-2">
        <MudPaper>
            <MudExpansionPanels>
                <MudExpansionPanel Class="IBorder1">
                    <TitleContent>
                        <div class="row">
                            <div class="col-1">
                                <MudAvatar Size="Size.Large" Image="https://avatars2.githubusercontent.com/u/71094850?s=460&u=66c16f5bb7d27dc751f6759a82a3a070c8c7fe4b&v=4"></MudAvatar>
                            </div>
                            <MudSpacer />
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            سیما جمالزاده
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            +989192651357
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            sima Jamal zadeh
                                        </MudText>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Tel ID: 235851621
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Token: 1022753002
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Tel: sima_J23
                                        </MudText>
                                    </div>
                                </div>
                            </div>
                            <MudSpacer />
                            <div class="col-1">
                                <div class="row">
                                    <div class="col-4">
                                        <MudIcon Icon="fas fa-check-circle" Size="Size.Large" Color="Color.Success"></MudIcon>
                                    </div>
                                    <div class="col-4">
                                        <MudIcon Icon="fas fa-wifi" Size="Size.Large" Color="Color.Success"></MudIcon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-2">
                            <MudText Class="mt-1"> Click Here To See More User Details</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.PersonPin" Color="Color.Secondary" />
                        </div>
                    </TitleContent>
                    <ChildContent>
                        Panel Content
                    </ChildContent>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudPaper>
    </MudItem>
        <MudItem xs="12" sm="12" md="12" Class="mt-2">
        <MudPaper>
            <MudExpansionPanels>
                <MudExpansionPanel Class="IBorder1">
                    <TitleContent>
                        <div class="row">
                            <div class="col-1">
                                <MudAvatar Size="Size.Large" Image="https://avatars2.githubusercontent.com/u/71094850?s=460&u=66c16f5bb7d27dc751f6759a82a3a070c8c7fe4b&v=4"></MudAvatar>
                            </div>
                            <MudSpacer />
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            نیما پور صمدی
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            +989381945604
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            Nima PourSamadi
                                        </MudText>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Tel ID: 168459640
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Token: 1027946589
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Tel: nima_ps
                                        </MudText>
                                    </div>
                                </div>
                            </div>
                            <MudSpacer />
                            <div class="col-1">
                                <div class="row">
                                    <div class="col-4">
                                        <MudIcon Icon="fas fa-check-circle" Size="Size.Large" Color="Color.Success"></MudIcon>
                                    </div>
                                    <div class="col-4">
                                        <MudIcon Icon="fas fa-wifi" Size="Size.Large" Color="Color.Error"></MudIcon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-2">
                            <MudText Class="mt-1"> Click Here To See More User Details</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.PersonPin" Color="Color.Secondary" />
                        </div>
                    </TitleContent>
                    <ChildContent>
                        Panel Content
                    </ChildContent>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="12" md="12" Class="mt-2">
        <MudPaper>
            <MudExpansionPanels>
                <MudExpansionPanel Class="IBorder1">
                    <TitleContent>
                        <div class="row">
                            <div class="col-1">
                                <MudAvatar Size="Size.Large" Image="https://avatars2.githubusercontent.com/u/71094850?s=460&u=66c16f5bb7d27dc751f6759a82a3a070c8c7fe4b&v=4"></MudAvatar>
                            </div>
                            <MudSpacer />
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            محمد کریمی فخر
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            +989193215467
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            Mohammad karimi
                                        </MudText>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Tel ID: 156849657
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Token: 2058467512
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Tel: karimi_fakhr1100
                                        </MudText>
                                    </div>
                                </div>
                            </div>
                            <MudSpacer />
                            <div class="col-1">
                                <div class="row">
                                    <div class="col-4">
                                        <MudIcon Icon="fas fa-check-circle" Size="Size.Large" Color="Color.Error"></MudIcon>
                                    </div>
                                    <div class="col-4">
                                        <MudIcon Icon="fas fa-wifi" Size="Size.Large" Color="Color.Error"></MudIcon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-2">
                            <MudText Class="mt-1"> Click Here To See More User Details</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.PersonPin" Color="Color.Secondary" />
                        </div>
                    </TitleContent>
                    <ChildContent>
                        Panel Content
                    </ChildContent>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="12" md="12" Class="mt-2">
        <MudPaper>
            <MudExpansionPanels>
                <MudExpansionPanel Class="IBorder1">
                    <TitleContent>
                        <div class="row">
                            <div class="col-1">
                                <MudAvatar Size="Size.Large" Image="https://avatars.githubusercontent.com/u/12973684?s=460&u=ea557f04c5d9c54f902f8c700292baefe59217d0&v=4"></MudAvatar>
                            </div>
                            <MudSpacer />
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            _
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            _
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            Amir Afzali
                                        </MudText>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Tel ID: 621458765
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Token: _
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Tel: _
                                        </MudText>
                                    </div>
                                </div>
                            </div>
                            <MudSpacer />
                            <div class="col-1">
                                <div class="row">
                                    <div class="col-4">
                                        <MudIcon Icon="fas fa-check-circle" Size="Size.Large" Color="Color.Error"></MudIcon>
                                    </div>
                                    <div class="col-4">
                                        <MudIcon Icon="fas fa-wifi" Size="Size.Large" Color="Color.Error"></MudIcon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-2">
                            <MudText Class="mt-1"> Click Here To See More User Details</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.PersonPin" Color="Color.Secondary" />
                        </div>
                    </TitleContent>
                    <ChildContent>
                        Panel Content
                    </ChildContent>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="12" md="12" Class="mt-2">
        <MudPaper>
            <MudExpansionPanels>
                <MudExpansionPanel Class="IBorder1">
                    <TitleContent>
                        <div class="row">
                            <div class="col-1">
                                <MudAvatar Size="Size.Large" Image="https://avatars2.githubusercontent.com/u/10367109?s=460&amp;u=2abf95f9e01132e8e2915def42895ffe99c5d2c6&amp;v=4"></MudAvatar>
                            </div>
                            <MudSpacer />
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            مبینا زیاری
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            +989016559567
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            Mobina
                                        </MudText>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Tel ID: 359468540
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Token: 3021002955
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Tel: _
                                        </MudText>
                                    </div>
                                </div>
                            </div>
                            <MudSpacer />
                            <div class="col-1">
                                <div class="row">
                                    <div class="col-4">
                                        <MudIcon Icon="fas fa-check-circle" Size="Size.Large" Color="Color.Success"></MudIcon>
                                    </div>
                                    <div class="col-4">
                                        <MudIcon Icon="fas fa-wifi" Size="Size.Large" Color="Color.Success"></MudIcon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-2">
                            <MudText Class="mt-1"> Click Here To See More User Details</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.PersonPin" Color="Color.Secondary" />
                        </div>
                    </TitleContent>
                    <ChildContent>
                        Panel Content
                    </ChildContent>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="12" md="12" Class="mt-2">
        <MudPaper>
            <MudExpansionPanels>
                <MudExpansionPanel Class="IBorder1">
                    <TitleContent>
                        <div class="row">
                            <div class="col-1">
                                <MudAvatar Size="Size.Large" Image="https://avatars.githubusercontent.com/u/16208742?s=120&v=4"></MudAvatar>
                            </div>
                            <MudSpacer />
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            سمانه موحدپور
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            +989122315776
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h5">
                                            samaneh
                                        </MudText>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Tel ID: 102645818
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Token : _
                                        </MudText>
                                    </div>
                                    <div class="col-4">
                                        <MudText Typo="Typo.h6">
                                            Tel: smn_movahed
                                        </MudText>
                                    </div>
                                </div>
                            </div>
                            <MudSpacer />
                            <div class="col-1">
                                <div class="row">
                                    <div class="col-4">
                                        <MudIcon Icon="fas fa-check-circle" Size="Size.Large" Color="Color.Error"></MudIcon>
                                    </div>
                                    <div class="col-4">
                                        <MudIcon Icon="fas fa-wifi" Size="Size.Large" Color="Color.Error"></MudIcon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-2">
                            <MudText Class="mt-1"> Click Here To See More User Details</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.PersonPin" Color="Color.Secondary" />
                        </div>
                    </TitleContent>
                    <ChildContent>
                        Panel Content
                    </ChildContent>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudPaper>
    </MudItem>
</MudGrid>